html {    //the default font size of a web app is 16px
    font-size: 62.5% //now the default font size is 10px (62.5% of 16)
}

*, //basically this * means, on every element, 
*::after, //every element after,
*::before { //and every element before,
    margin: 0; //we want to do all these things
    padding:0;
    box-sizing: inherit; 
}

@import 'layout';
@import 'headernavbar';